* {
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
}

html {
  height: 100%;
}
body {
  font-family: 'Courier New', monospace;
  min-height: 100%;
  text-align: center;
  color: #fff;
  background: rgb(35,72,81);
  background: -moz-radial-gradient(circle, rgba(35,72,81,1) 10%, rgba(130,187,196,1) 49%, rgba(229,201,174,0.7301514355742297) 100%);
  background: -webkit-radial-gradient(circle, rgba(35,72,81,1) 10%, rgba(130,187,196,1) 49%, rgba(229,201,174,0.7301514355742297) 100%);
  background: radial-gradient(circle, rgba(35,72,81,1) 10%, rgba(130,187,196,1) 49%, rgba(229,201,174,0.7301514355742297) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#234851",endColorstr="#e5c9ae",GradientType=1);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 80vw;
  max-height: 90vh;
  font-size: 1.6em;
  line-height: 1.5em;
}

h1, h2 {
  line-height: 1.2em;
}

h1 strong {
  font-style: italic;
}

button {
  padding: .5em 1em;
  font-size: 1.2em;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background: rgb(35,72,81);
  transition: all .2s;
}

button:hover {
  background: rgb(30, 61, 69);
}