* {
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
}

html {
  height: 100%;
}
body {
  font-family: 'Courier New', monospace;
  min-height: 100%;
  text-align: center;
  color: #fff;
  background: rgb(35,72,81);
  background: -moz-radial-gradient(circle, rgba(35,72,81,1) 10%, rgba(130,187,196,1) 49%, rgba(229,201,174,0.7301514355742297) 100%);
  background: -webkit-radial-gradient(circle, rgba(35,72,81,1) 10%, rgba(130,187,196,1) 49%, rgba(229,201,174,0.7301514355742297) 100%);
  background: radial-gradient(circle, rgba(35,72,81,1) 10%, rgba(130,187,196,1) 49%, #e5c9aeba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#234851",endColorstr="#e5c9ae",GradientType=1);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.App {
  width: 80vw;
  height: 90vh;
  font-size: 1.6em;
  line-height: 1.5em;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

h1 {
  position: absolute;
  top: 10vh;
  right: 0;
  left: 0;
  text-align: center;
}

h1, h2 {
  line-height: 1.2em;
}

h2 {
  padding-top: 10vh;
}

h1 strong {
  font-style: italic;
}

button {
  padding: .5em 1em;
  font-size: 1.2em;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background: rgb(35,72,81);
  transition: all .2s;
}

button:hover {
  background: rgb(30, 61, 69);
}


@keyframes bottom-to-top {
  0% {
    bottom: -5px;
  }
  25% {
    bottom: calc( 100% - 2px );
  }
  50% {
    bottom: calc( 100% - 2px );
  }
  100% {
    bottom: calc( 100% - 2px );
  }
}

@keyframes left-to-right {
  0% {
    left: 0;
  }
  25% {
    left: calc( 100% - 2px );
  }
  50% {
    left: calc( 100% - 2px );
  }
  100% {
    left: calc( 100% - 2px );
  }
}

@keyframes top-to-bottom {
  0% {
    top: -5px;
  }
  25% {
    top: calc( 100% - 2px );
  }
  50% {
    top: calc( 100% - 2px );
  }
  100% {
    top: calc( 100% - 2px );
  }
}

@keyframes right-to-left {
  0% {
    right: 0;
  }
  25% {
    right: calc( 100% - 2px );
  }
  50% {
    right: calc( 100% - 2px );
  }
  100% {
    right: calc( 100% - 2px );
  }
}

@keyframes cycle {
  0% {
    bottom: -6px;
    left: -6px;
    background-color: #e7d6c4;
  }
  25% {
    bottom: 100%;
    left: -6px;
    background-color: #e7d6c4;
  }
  50% {
    bottom: 100%;
    left: 100%;
    background-color: #82bbc4;
  }
  75% {
    bottom: -6px;
    left: 100%;
    background-color: #e7d6c4;
  }
  100% {
    bottom: -6px;
    left: -6px;
    background-color: #82bbc4;
  }
}

.box {
  display: block;
  width: 200px;
  height: 200px;
  border: 5px solid rgb(35,72,81);
  position: relative;
  z-index: 0;
  border-radius: 5px;
}

.box > div {
  position: absolute;
  background-color: #e7d6c4;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  transition: all;
  z-index: 1;
}

.inhale {
  bottom: -5px;
  left: -7px;
  animation: bottom-to-top 16s linear infinite;
  animation-fill-mode: forwards;
}

.hold-inhale {
  top: -5px;
  left: -5px;
  animation: left-to-right 16s 4s linear infinite;
}

.exhale {
  top: -5px;
  right: -5px;
  animation: top-to-bottom 16s 8s linear infinite;
}

.hold-exhale {
  bottom: -5px;
  right: -5px;
  animation: right-to-left 16s 12s linear infinite;
}

.circle {
  animation: cycle 16s infinite;
}

